<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Threat Detection Suite" Manufacturer="Genesis" Version="5.6.5" UpgradeCode="{E9B6D6D6-AB47-4FA7-B6B6-4F7BC2DAA4D1}" Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer Threat Detection Suite is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="ThreatDetectionSuite" />
    </StandardDirectory>
    <Feature Id="MainFeature" Title="Threat Detection Suite" Level="1">
      <ComponentRef Id="TDSServiceComponent" />
      <ComponentRef Id="TDSDriverComponent" />
    </Feature>
  </Package>

  <Fragment>
    <Component Id="TDSServiceComponent" Directory="INSTALLFOLDER" Guid="*">
      <File Id="TDSServiceExe" Source="$(var.TDSServicePath)" KeyPath="yes" />
      <ServiceInstall Id="TDSServiceInstall" Name="TDSService" DisplayName="Threat Detection Suite" Description="Threat Detection Suite user-mode analysis service" Type="ownProcess" Start="auto" ErrorControl="normal" Vital="yes" />
      <ServiceControl Id="TDSServiceControl" Name="TDSService" Start="install" Stop="both" Remove="uninstall" Wait="yes" />
    </Component>
    <Component Id="TDSDriverComponent" Directory="INSTALLFOLDER" Guid="*">
      <File Id="TDSDriverSys" Source="$(var.TDSDriverPath)" KeyPath="yes" />
    </Component>
  </Fragment>
</Wix>
